<!DOCTYPE html>
<html lang="en">
<head>


    <style>
body {
    background-color:lightgray;
}
</style>

    <meta charset="UTF-8">
    <title>404</title>
    <link href="{{ url_for('static', filename='css/404.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="text-wrapper">
    <div class="title" data-content="404">
        404
    </div>

    <div class="subtitle" data-content="Oops, the page you're looking for doesn't exist">
        صفحه مورد نظر یافت نشد
    </div>

{#    <div class="buttons">#}
{#        <a class="button" href="http://www.ajerez.es">بازگشت به صفحه اصلی</a>#}
{#    </div>#}
</div>
</body>
</html>