<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>add new admins</title>
</head>

<body>

<form action="/add_admin" method="post">
  Username:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
    <br>
    First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
    <br>
    Gender:<br>
    <input type="radio" name="gender" value="Male" checked> Male<br>
  <input type="radio" name="gender" value="Female"> Female<br>
    <br>
    Phone Number:<br>
  <input type="text" name="phone" value="">
  <br>
  Brand:<br>
  <input type="text" name="brand" value="">
    <br>
    Category:<br>
  <input type="text" name="category" value="">
  <br>

  <br><br>
  <input type="submit" value="Add Admin">
</form>


<br>
<br>
<br>

<form action="/logout" method="post">
    <input type="submit" value="logout">
</form>


</body>
</html>