<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>add new admins</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<br>


<body>

    <style>
body {
    background-color:lightgreen;
}
</style>


<div align="center">
<form action="/logout" method="post">
    <input class="btn btn-danger" type="submit" value="logout">
</form>
<br><br>
    <form action="/add_admin" method="post">
  <b>Username:<br>
  <input type="text" name="username" placeholder="نام کاربری" value="">
  <br>
  Password:<br>
  <input type="password" name="password" placeholder="رمز عبور" value="">
    <br>
    First name:<br>
  <input type="text" name="firstname" placeholder="نام" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="نام خانوادگی" value="">
    <br>
    Gender:<br>
    <input type="radio" name="gender" value="Male" checked> Male<br>
  <input type="radio" name="gender" value="Female"> Female<br>
    <br>
    Phone Number:<br>
  <input type="text" name="phone" placeholder="شماره تماس" value="">
  <br>
  Brand:<br>
  <input type="text" name="brand" placeholder="مثال:گیاهپزشگی" value="">
    <br>
    Category:<br>
  <input type="text" name="category" placeholder="مثال:پرتغال" value="">
  <br>
  </b>
  <br><br>
  <input type="submit" class="btn btn-primary" value="Add Admin">
</form>
</div>

<br>
<br>
<br>



</body>
</html>