<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<form action="/" method="post">

    <br>
    What DO You Want To Do? :<br>
    <input type="radio" name="Work" value="add_admin" checked> Add New Admin<br>
  <input type="radio" name="Work" value="view_logs"> View Admins works<br>
    <br>
    <br><br>
  <input type="submit" value="Do">
</form>

<br>
<br>
<br>

<form action="/logout" method="post">
    <input type="submit" value="logout">
</form>


</body>
</html>