<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entering Data</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <style>
body {
    background-color:lightgray;
}
</style>

<body>
<div align="center">
    <form action="/logout" method="post">
        <input class="btn btn-danger" type="submit" value="logout">
    </form>
</div>

<div align="right" class="w3-container">
{% for t in title_obj %}
    <fieldset>
    <legend>{{ t.title1 }}</legend>

    </fieldset>
{% endfor %}
</div>
</body>