<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entering Data</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <style>
body {
    background-color:lightgray;
}
</style>

<br>


<form action="/matlab" method="post">
    <div align="center">
        Please Enter your Content for Button 1 ...
        <ul></ul>
    <b>
  Subject:
  <input type="text" name="title" value="">
  <br><br>

    Content:<br>
    <textarea name="content" rows="4" cols="50">
    </textarea>

        <br>
  <input type="submit" class="btn btn-primary" value="Add Data ...">
    </b>

</form>
    <br>
<h4>Enter your Content for Button 4 ...</h4>
<form action="/handbook" method="post">
 <textarea name="book" rows="11" cols="150">
    </textarea>
<br><br>
  <input class="btn btn-success" type="submit" value="Submit">

</form>
    <br>
<form action="/logout" method="post">
    <input class="btn btn-danger" type="submit" value="logout account">
</form>

</div>

<br>

</body>
</html>