<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entering Data</title>
</head>
<body>


<form action="/matlab" method="post">
  Title:<br>
  <input type="text" name="title" value="">
  <br>
    Content:<br>
    <textarea name="content" rows="4" cols="50">
    </textarea>
        <br>
        <br><br>
  <input type="submit" value="Add">
</form>
        <br><br>
        <br><br>
        <br><br>
<form action="/handbook" method="post">
 <textarea name="book" rows="10" cols="200">
    </textarea>
<br><br>
  <input type="submit" value="submit">

</form>

<br>
<br>
<br>

<form action="/logout" method="post">
    <input type="submit" value="logout">
</form>

</body>
</html>