<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css"/>
</head>


<body>
<div class="login-page">
                </ul>

        <div class="my_text" align="center"><h3>صفحه ورود به پنل کاربری</h3></div>
        <div class="form">

            <form class="login-form" method="post" action="/login">
                <input name="username" type="text" placeholder="username"/>
                <input name="password" type="password" placeholder="password"/>
                <input type="submit" value="Login">
                {#      <button>Login</button>#}

            </form>
        </div>
    </div>
</body>
</html>


<script>
    $('.message a').click(function () {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });

</script>