<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log file</title>
</head>
<body>
{% block page_content %}
	<div class="panel panel-default">
		<div class="panel-body" align="center">

            <p>ردیف :<td class="col-sm-4">{{ log_obj_q.id }}</td></p>
            <p>کار انجام شده توسط :<td class="col-sm-3">{{ log_obj_q.username}}</td></p>
            <p>در ساعت : <td class="col-sm-1">{{ log_obj_q.time }}</td></p>
            <p>نوع کار انجام شده :<td class="col-sm-3">{{ log_obj_q.action}}</td></p>
            </td>



		</div>
	</div>
{% endblock %}

</body>
</html>