<!DOCTYPE html>
<html lang="en">
<head>


    <title>Log file</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div align="center">
<form action="/logout" method="post">
    <input class="btn btn-danger" type="submit" value="logout">
</form>
</div>
<div align="left" class="panel-body">
{% block page_content %}
	<div class="panel panel-default">
		<div class="panel-body" align="center">

            {% for q in log_obj_q %}
                <fieldset>
                <legend>Log History:</legend>
                <p><td class="col-sm-4">{{ q.id }}</td>:ردیف</p>
                <p><td class="col-sm-3">{{ q.action}}</td>:نوع کار انجام شده</p>
                <p>در ساعت : <td class="col-sm-1">{{ q.time }}</td></p>
                <p><td class="col-sm-3">{{ q.user_id }}</td>:کار انجام شده توسط</p>
                <hr size="10">
                </fieldset>
                </td>

            {% endfor %}

		</div>
	</div>
{% endblock %}
</div>
</body>
</html>